@{
    ViewData["Title"] = "Upload Forecasts";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var successMessage = ViewData["SuccessMessage"] as string;
    var errorMessage = ViewData["ErrorMessage"] as string;
}

<div class="container text-center mt-5">
    <h1 class="mb-4">Загрузка архивов</h1>

    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success" role="alert">
            @successMessage
        </div>
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @errorMessage
        </div>
    }
    <!-- Форма для загрузки архивов -->
    <form method="post" enctype="multipart/form-data" asp-controller="WeatherForecasts" asp-action="UploadForecasts">
        <div class="form-group">
            <label for="files">Выбор файлов: </label>
            <input type="file" name="files" id="files" multiple required class="form-control-file" />
        </div>
        <button type="submit" class="btn btn-primary">Загрузить</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary ml-2">На главную</a>
    </form>
</div>
